
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/constants.js"></script>
<script src="~/Scripts/helperfunctions.js"></script>
<link href="~/Styles/Style.css" rel="stylesheet" />
<script src="~/Scripts/dashboardviews.js"></script>
<script src="~/Scripts/cardview.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    function drag(ev) {
        text = document.getElementById(ev.target.id).innerHTML
        ev.dataTransfer.setData("value", JSON.stringify({ key: 'supplier', data: text, displayText: `Supplier - ${text}`, isList: true, append: true }));
    }
</script>
<script>
    document.addEventListener('Pi.Filter.Change', function (event) {
        console.log(event);
    });
</script>
<div style="margin-left: 100px">
    <svg width="500" height="500">
        <circle cx="250" cy="250" fill="transparent" r="200" stroke="gray" stroke-width="40px" stroke-dasharray="942 1256" transform="rotate(135,250,250)" />
        <circle cx="250" cy="250" fill="transparent" r="200" stroke="orange" stroke-width="40px" stroke-dasharray="400 1256" transform="rotate(135,250,250)">
            <animate attributeName="stroke-dasharray" dur="1s" repeatCount="forwand" from="0 1256" to="400 1256"></animate>
        </circle>
    </svg>
</div>
<div class="col-md-12">
    <div id="gauge" style="height: 200px; width: 200px; border: 1px solid">

    </div>
</div>

<div class="col-md-12">
    <div id="piechart" style="height: 600px; width: 600px; border: 1px solid">
        
    </div>
</div>

<svg>
    <path d="M [center Pt x],[center Pt y] l 200,0 a200,200 0 0 0 "
</svg>