
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/assets/lib/dashboard/css/dashboard.css" rel="stylesheet" />
<script src="~/assets/lib/dashboard/scripts/dashboard.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    document.addEventListener('Pi.Filter.Change', function (event) {
        console.log(event);
    });
</script>
<iframe id="sms">

</iframe>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10" id="filter">
    </div>
</div>
<div class="row">
    <div class="card-group">
        <div id="activity_card">

        </div>
    </div>
    <div class="col-md-12" style="padding: 15px;">
        <ul>
            <li><span id="val1" draggable="true" ondragstart="drag(event)">Tip Top Arts</span></li>
            <li><span id="val2" draggable="true" ondragstart="drag(event)">A K Arts</span></li>
            <li><span id="val3" draggable="true" ondragstart="drag(event)">R R Jariwala</span></li>
            <li><span id="val4" draggable="true" ondragstart="drag(event)">A1 Arts</span></li>
            <li><span id="val5" draggable="true" ondragstart="drag(event)">Trisha Fashion Arts</span></li>
            <li><span id="val6" draggable="true" ondragstart="drag(event)">Suhana</span></li>
            <li><span id="val7" draggable="true" ondragstart="drag(event)">Afridi</span></li>
            <li><span id="val8" draggable="true" ondragstart="drag(event)">Acme Fabs</span></li>
            <li><span id="val9" draggable="true" ondragstart="drag(event)">Embroart</span></li>
            <li><span id="val10" draggable="true" ondragstart="drag(event)">Kamal Export</span></li>
            <li><span id="val11" draggable="true" ondragstart="drag(event)">Amit Textiles</span></li>
            <li><span id="val12" draggable="true" ondragstart="drag(event)">Nem Tex</span></li>
            <li><span id="val13" draggable="true" ondragstart="drag(event)">APETCH</span></li>
            <li><span id="val14" draggable="true" ondragstart="drag(event)">PRADHAN'S</span></li>
            <li><span id="val15" draggable="true" ondragstart="drag(event)">Balaji Enterprises</span></li>
            <li><span id="val16" draggable="true" ondragstart="drag(event)">Tulsi Art</span></li>
        </ul>
    </div>
</div>
<div class="row">
    <div id="PieChart" style="width: 500px; height: 500px;border: 1px solid;">

    </div>
    <div id="Donut" style="width: 700px; height: 700px;border: 1px solid;">

    </div>
    <div id="Gauge" style="width: 400px; height: 400px;border: 1px solid;">

    </div>
</div>
